
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" style = "padding: 5px 5px!important">
      <img src="https://sistemasyenlaces.com.mx/images/logo.png"  id="icon" alt="User Icon">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="user" class="fadeIn second" name="username" placeholder="login" [(ngModel)]="loginObj.username">

      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" [(ngModel)]="loginObj.password">

      <input type="submit" class="fadeIn fourth" value="Log In"  (click)="onLogin()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>