<div class="back">
  <section class="vh-100">
    <mat-card>
      <mat-card-content>
        <div class="text-center">
  
          <h2>Inicia Sesión</h2>
          <hr>
          <!--div class="form-outline mb-4">
            <input type="text" id="user" name = "username" placeholder="Usuario" class="form-control form-control-lg" [(ngModel)]="loginObj.username">
          </div-->
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput id="user" name="username" [(ngModel)]="loginObj.username">
          </mat-form-field>
         
          <!--div class="form-outline mb-4">
            <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control form-control-lg"  [(ngModel)]="loginObj.password">
          </div-->
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Constraseña</mat-label>
            <input matInput type="password" id="password" name="password" [(ngModel)]="loginObj.password">
          </mat-form-field>
          <br>
          
  
  
          <button mat-button color="primary" (click)="onLogin()">Ingresar</button>
  
  
  
        </div>
  
      </mat-card-content>
    </mat-card>
    
  
  </section>
  
</div>
