<mat-form-field appearance="outline">
  <mat-label>Marca</mat-label>
  <input matInput name = "brand" [(ngModel)]="newProductObj.brand">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Modelo</mat-label>
  <input matInput name = "model" [(ngModel)]="newProductObj.model">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Categoria</mat-label>
  <input matInput name = "category" [(ngModel)]="newProductObj.category">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Descripción</mat-label>
  <input matInput name = "description" [(ngModel)]="newProductObj.description">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Cantidad</mat-label>
  <input matInput name = "quantity" [(ngModel)]="newProductObj.quantity">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Almacen</mat-label>
  <input matInput name = "warehouse" [(ngModel)]="newProductObj.warehouse">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Shelving</mat-label>
  <input matInput name = "shelving" [(ngModel)]="newProductObj.shelving">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Shelf</mat-label>
  <input matInput name = "shelf" [(ngModel)]="newProductObj.shelf">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Serial</mat-label>
  <input matInput name = "serial" [(ngModel)]="newProductObj.serial">
</mat-form-field>

<div class="example-button-container">
  <button mat-fab color="primary" (click)="addProduct()" >
    <mat-icon>plus_one</mat-icon>
  </button>
</div>