<div class="container-fluid d-flex flex-column grow">
    <div class="row">
        <div class="col-md-4">
            <dash></dash>
        </div>
        <div class="col-md-8 main bg-secondary" style="height: 800px!important;">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <p>header</p>
                        </div>
                        <div class="card-body">
                            <p>description</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>

