<nav id="sidebar">
  <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold align-items-center">   Inventario SyE</span>
    </a>
    <ul class="list-unstyled ps-0">
    
      <li class="mb-1">
        <a class="btn btn-toggle align-items-center rounded collapsed">
        </a>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Productos
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <a class="link-dark rounded" style = "cursor:pointer!important" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false">
              Agregar Productos
            </a>
            <app-add-product></app-add-product>
            <li><a (click)="goToProductPage()" class="link-dark rounded">Ver productos</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
   
        <a class="btn btn-toggle align-items-center rounded collapsed">
          Salidas
        </a>
        
      </li>
   
      
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          {{username}}
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a class="link-dark rounded">Perfil</a></li>
            <li><a (click)="logout()" class="link-dark rounded">Salir</a></li>
   
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>