mat-toolbar{
    background: #004a9f!important;
    color: white!important;
}


.main-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


.products-sidenav{
    margin: 16px;
    width: 300px;
    border-right: none;
    background: whitesmoke;
    color: #002b5c;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    height:auto;
}


.exits-sidenav{
    margin: 16px;
    width: 90%;
    border-right: none;
    background: whitesmoke;
    color: #002b5c;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    height:auto;
}
/*al quitar este se recupera la animacion de cuando cerramos el navbar*
.products-sidenav, .exits-sidenav {
    transition: all 0.6s ease-in-out; 
    overflow: hidden;
}
*/
.content{
    height: calc(100vh - 98px);
    margin:16px;
    padding:10px 10px 0px 10px;
    margin-left: 32px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    
    border-radius: 10px;

}

mat-sidenav-container{
    height: calc(100vh - 65px)
}

.flex-span{
    flex: 1 1 auto;
}

.flexSpaceBetween {
    justify-content: space-between;
  }

.button-toggle {
    width: 100px;
}

.button-exits-toggle {
    width: 200px;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 5px!important;
    justify-content: flex-end;
  }
  
  .header-container h2 {
    margin: 0;
    padding-right: 10px; /* Espacio entre el texto y los botones */
  }
  
  .buttons-toggle {
    display: flex;
  }

  .custom-toggle.mat-button-toggle-checked {
    background-color: #004a9f !important; /* Cambia este color al que prefieras */
    color: white !important;
  }