<!--div class="container-fluid d-flex flex-column grow">
    <div class="row">
        <div class="col-md-4">
            <dash></dash>
        </div>
        <div class="col-md-8 main">
            <app-header></app-header>

        </div>
    </div>
    
</div-->
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
        
    </button>
    {{title}}
    <span class = "flex-span"></span>
    <button mat-raised-button color="white" (click)="productsidenav.toggle()">
        <span>Agregar &nbsp;</span>
        <mat-icon>plus_one</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="main-sidenav" #sidenav="matSidenav" >
        <app-sidenav-button></app-sidenav-button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

    <mat-sidenav [ngClass] = "addProduct == true ? 'products-sidenav': 'exits-sidenav'" #productsidenav="matSidenav" mode="over" position="end">
        <div class="header-container">
            <!--h2>Agregar &nbsp;</h2-->
            <mat-button-toggle-group class = "buttons-toggle" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle class = "custom-toggle" value="producto" (click)="addProductTrue()">Agregar Producto</mat-button-toggle>
                <mat-button-toggle class = "custom-toggle" value="salida"   (click)="addExitTrue()" >Agregar Salida&nbsp;</mat-button-toggle>
            </mat-button-toggle-group>
    
        </div>
        
        <div *ngIf = "addProduct">
            <hr>
            <app-add-product></app-add-product>
    
        </div>
        <div *ngIf = "addExit">
            <hr>
            <app-add-exits></app-add-exits>
        </div>

    </mat-sidenav>


</mat-sidenav-container>
