.exit-content {
    display: flex;

}

.product-selection{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.detalles-selection{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.product-selection-first-child{
    width:30%;
}
.product-selection-sec-child{
    box-sizing: border-box;
    margin-left: 5px;
    width: 70%;

}

.product-first-child{
    width:50%;
}
.product-sec-child{
    box-sizing: border-box;
    margin-left: 5px;
    width: 50%;

}

.card {
   height: fit-content;
}

.field-spacing{
    padding: 0 10px 0 0;
    width:-webkit-fill-available;
}

.field-spacing-detalles{
    padding: 0 10px 0 0;
}


.field-spacing-button{
    margin-top: 10px;
    width:-webkit-fill-available;
}

.field-spacing-pselection{
    width:-webkit-fill-available;
}

.select {
    margin-top: 10px;
    width: -webkit-fill-available;
}

.select-display-none{
    display: none;
}

h2 {
    margin-bottom: 0!important;
    text-align: start;
     font-size: large;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


.table-display-true {
    display: block;
}

.table-display-false {
    display: none;
}

